
@import url('https://fonts.googleapis.com/css?family=Exo+2'); 
  
body{
  min-height: 100%;
  font-size: 100%;
  font-family: 'Exo 2', sans-serif;

}

body, section, article, nav, footer, sidebar, aside{
  display: block;
}

.group:after{
  content: ""; /* 1 */
  display: table; /* 2 */
  clear: both;
}

.group {
  *zoom: 1; /* 3 */
}


h1,h2,h3{
  font-weight: 100;
}

h1{
  font-size: 3.189em;
  line-height: 1.25;
}

h2{
  font-size: 2.126em;
  line-height: 1.223;
}

h3{

  font-size: 1.382em;
  line-height: 1.41;
}


#container-advocacy{
      margin-left: 25px;
    }


/**********************************
NAVIGATION
***********************************/
#container-nav{
  border-bottom: 5px solid #599a68;
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul li{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;

}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
}

/* nav background on mobile */
nav {
  background: #599a68;
}

/* logo text */
h2, h3{
  color: #fff;
}

#logo h2{
  font-size: 2.5em;
}



/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #c23616;
}



/************************************************
About

***********************************************/


#wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#container-about{
  background: #568dc9;
}

.profile-photo{
  display: block; /* Allows us to use our auto margin to centre the element on the page by default images are displayed inline */
  max-width: 250px;
  margin: 0 auto 30px; /* T(0)LR(Auto)30px(B) */
  border-radius: 100%; /* Allows you to add rounded corners to an element, having it as % will make our element to be like a circle instead of a square image */
  padding-top: 20px;
}

#about h2{
  text-align: left;
  color: #000;
}

#about p, #advocacy p{
  padding: 1px;
  color: #fff;
  text-align: center;
  font-size: 1.063em;
  line-height: 1.25;
  margin: .612em 0;
}

#about p{
  color: #000;
  text-align: left;
}

#advocacy h2{
  text-align: center;
  color: #000;
}

#advocacy p{
  margin: 0;
  padding: 4%;
  background: #568dc9;
  
}

#advocacy p:hover{
  background: #4cd137;
}

#advocacy img
{

}

span{
  color: #e84118;
  font-style: italic;
  font-weight: bolder;
}

#knowmore{

}


/**********************************
PAGE: PORTFOLIO
***********************************/

img{
  max-width: 100%;
}


.btn{
   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;

}

.btn:hover{
  background: #4cd137;
}


/************************************************
footer

***********************************************/

footer, #knowmore{
  font-size: 1em;
  width: 100%;
  text-align: center;
  clear: both;
  padding-top: 50px;
  background-color: #189d48;
  color: #fff;
}

input{
  width: 20%;
  height: 30px;
}

.sub{
  width: 20%;
  height: 36px;
  background: #568DC9;
  color: #fff;
  font-size: 1em;
  font-weight: bolder;
}

.sub:hover{
  background: #4cd137;
}

.social-icon{
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 100%;
}

/* MEDIA QUERY FScreen width wider than 700px */

   @media screen and (min-width: 45em){
   
      #container-header{
      background: url("../img/pvccover.jpg")no-repeat center center;
      background-size: cover;
      padding: 10% 0;
      height: 400px;
      color: #fff;
    }

  #advocacy article{
  float: left;
  width: 30%;
  margin: 1%;
 
}

.imageside{
  width: 40%;
  float: left;
}

.textside{
width: 50%;
float: left;
}


nav {
  background: none;
  float: right;
  font-size: 1.125em;
  margin-right: 5%;
  text-align: right;
  width: 45%;
}

#logo {
  float: left;
  margin-left: 5%;
  text-align: left;
  width: 45%;
}




  }

  @media screen and (max-width: 45em){
   
      #container-header{
      background: url("../img/cover.jpg")no-repeat center center;
      background-size: cover;
      padding: 10% 0;
      height: 400px;
      color: #fff;
    }

    /**********************************
for portfolio page
***********************************/



  }

